In [1]:
# Data Scraping Initialization
from bs4 import BeautifulSoup as bs
import requests
import time

import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
# Get html text from a url
url_text = requests.get('https://www.linestarapp.com/Perfect/Sport/NBA/Site/FanDuel/PID/1354').text
# *line star has a crawl delay of 5 seconds*

#put into beautiful soup
soup = bs(url_text,'lxml')
#print(soup)

In [3]:
table = soup.find('tbody')
table_list = table.find_all('tr')
print(table_list)
print()
print(len(table_list))

[<tr>
<td>MVP - 2X Points</td>
<td>LAL</td>
<td class="playername" data-playerid="126">LeBron James</td>
<td style="color:green;">$16000</td>
<td>
<span class="tooltips label label-success" data-toggle="tooltip" title="Final">123.6</span>
</td>
</tr>, <tr>
<td>STAR - 1.5X Points</td>
<td>MIA</td>
<td class="playername" data-playerid="852">Bam Adebayo</td>
<td style="color:green;">$13000</td>
<td>
<span class="tooltips label label-success" data-toggle="tooltip" title="Final">72.75</span>
</td>
</tr>, <tr>
<td>PRO - 1.2X Points</td>
<td>LAL</td>
<td class="playername" data-playerid="387">Anthony Davis</td>
<td style="color:green;">$15500</td>
<td>
<span class="tooltips label label-success" data-toggle="tooltip" title="Final">57</span>
</td>
</tr>, <tr>
<td>UTIL</td>
<td>MIA</td>
<td class="playername" data-playerid="11">Kelly Olynyk</td>
<td style="color:green;">$8000</td>
<td>
<span class="tooltips label label-success" data-toggle="tooltip" title="Final">20.4</span>
</td>
</tr>, <tr>
<td>UTIL</td>
<td>LAL</td>
<td class="playername" data-playerid="789">Alex Caruso</td>
<td style="color:green;">$7500</td>
<td>
<span class="tooltips label label-success" data-toggle="tooltip" title="Final">20.1</span>
</td>
</tr>]

5

In [4]:
qb = table_list[0].find_all('td')[0]
x = qb.find_next()
x = qb.find_next()
print(x)

<td>LAL</td>

In [5]:
xx = x.text
type(xx)

str

In [6]:
#row 0

#perfect = np.array((1,5),string)
r0 = [table_list[0].find_all('td')[0].text,
table_list[0].find_all('td')[1].text,
table_list[0].find_all('td')[2].text,
table_list[0].find_all('td')[3].text,
table_list[0].find_all('td')[4].text.strip('\n')]

In [7]:
#row 1

#perfect = np.array((1,5),string)
r1 = [table_list[1].find_all('td')[0].text,
table_list[1].find_all('td')[1].text,
table_list[1].find_all('td')[2].text,
table_list[1].find_all('td')[3].text,
table_list[1].find_all('td')[4].text.strip('\n')]

In [8]:
#row 3

#perfect = np.array((1,5),string)
r2 = [table_list[2].find_all('td')[0].text,
table_list[2].find_all('td')[1].text,
table_list[2].find_all('td')[2].text,
table_list[2].find_all('td')[3].text,
table_list[2].find_all('td')[4].text.strip('\n')]

In [9]:
#row 4

#perfect = np.array((1,5),string)
r3 = [table_list[3].find_all('td')[0].text,
table_list[3].find_all('td')[1].text,
table_list[3].find_all('td')[2].text,
table_list[3].find_all('td')[3].text,
table_list[3].find_all('td')[4].text.strip('\n')]

In [11]:
#row 5

#perfect = np.array((1,5),string)
r4 = [table_list[4].find_all('td')[0].text,
table_list[4].find_all('td')[1].text,
table_list[4].find_all('td')[2].text,
table_list[4].find_all('td')[3].text,
table_list[4].find_all('td')[4].text.strip('\n')]

['UTIL', 'LAL', 'Alex Caruso', '$7500', '20.1']

list

In [12]:
r = [r0, r1, r2, r3, r4]

In [14]:
df_perfect = DataFrame(r, columns=['Position', 'Team', 'Player Name', 'Salary', 'Points'],dtype = 'string') 
display(df_perfect)

             Position Team    Player Name  Salary Points
0     MVP - 2X Points  LAL   LeBron James  $16000  123.6
1  STAR - 1.5X Points  MIA    Bam Adebayo  $13000  72.75
2   PRO - 1.2X Points  LAL  Anthony Davis  $15500     57
3                UTIL  MIA   Kelly Olynyk   $8000   20.4
4                UTIL  LAL    Alex Caruso   $7500   20.1

In [ ]:
#12/7/2020
#Ran on first try