In [1]:
# Data Scraping Initialization
from bs4 import BeautifulSoup as bs
import requests
import time

import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
# Get html text from a url

#=========================================================================================#

## Update URL here each week ##

url_text = requests.get('https://www.linestarapp.com/Perfect/Sport/NFL/Site/FanDuel/PID/262').text

#=========================================================================================#


# *line star has a crawl delay of 5 seconds*

#put into beautiful soup
soup = bs(url_text,'lxml')

In [18]:
table = soup.find('tbody')
table_list = table.find_all('tr')
#print(table_list)
#print()
#print(len(table_list))

In [6]:
#row 0

r0 = [table_list[0].find_all('td')[0].text,
table_list[0].find_all('td')[1].text,
table_list[0].find_all('td')[2].text,
table_list[0].find_all('td')[3].text,
table_list[0].find_all('td')[4].text.strip('\n')]

In [7]:
#row 1

r1 = [table_list[1].find_all('td')[0].text,
table_list[1].find_all('td')[1].text,
table_list[1].find_all('td')[2].text,
table_list[1].find_all('td')[3].text,
table_list[1].find_all('td')[4].text.strip('\n')]

In [8]:
#row 3

r2 = [table_list[2].find_all('td')[0].text,
table_list[2].find_all('td')[1].text,
table_list[2].find_all('td')[2].text,
table_list[2].find_all('td')[3].text,
table_list[2].find_all('td')[4].text.strip('\n')]

In [9]:
#row 4

r3 = [table_list[3].find_all('td')[0].text,
table_list[3].find_all('td')[1].text,
table_list[3].find_all('td')[2].text,
table_list[3].find_all('td')[3].text,
table_list[3].find_all('td')[4].text.strip('\n')]

In [11]:
#row 5

r4 = [table_list[4].find_all('td')[0].text,
table_list[4].find_all('td')[1].text,
table_list[4].find_all('td')[2].text,
table_list[4].find_all('td')[3].text,
table_list[4].find_all('td')[4].text.strip('\n')]

['WR', 'TEN', 'Corey Davis', '$6100', '29.7']

list

In [12]:
#row 5

r5 = [table_list[5].find_all('td')[0].text,
table_list[5].find_all('td')[1].text,
table_list[5].find_all('td')[2].text,
table_list[5].find_all('td')[3].text,
table_list[5].find_all('td')[4].text.strip('\n')]

In [13]:
#row 6

r6 = [table_list[6].find_all('td')[0].text,
table_list[6].find_all('td')[1].text,
table_list[6].find_all('td')[2].text,
table_list[6].find_all('td')[3].text,
table_list[6].find_all('td')[4].text.strip('\n')]

In [14]:
#row 7

r7 = [table_list[7].find_all('td')[0].text,
table_list[7].find_all('td')[1].text,
table_list[7].find_all('td')[2].text,
table_list[7].find_all('td')[3].text,
table_list[7].find_all('td')[4].text.strip('\n')]

In [15]:
#row 8

r8 = [table_list[8].find_all('td')[0].text,
table_list[8].find_all('td')[1].text,
table_list[8].find_all('td')[2].text,
table_list[8].find_all('td')[3].text,
table_list[8].find_all('td')[4].text.strip('\n')]

In [16]:
# consolidate
r = [r0, r1, r2, r3, r4, r5, r6, r7, r8]

In [17]:
# make dataframe
df_perfect = DataFrame(r, columns=['Position', 'Team', 'Player Name', 'Salary', 'Points Scored'],dtype = 'string') 
display(df_perfect)

  Position Team           Player Name Salary Points Scored
0       QB   LV            Derek Carr  $7200         32.74
1       RB  IND       Jonathan Taylor  $6400            21
2       RB  CHI      David Montgomery  $6200          25.1
3       WR  MIN      Justin Jefferson  $7700          22.8
4       WR  TEN           Corey Davis  $6100          29.7
5       WR  DET      Marvin Jones Jr.  $6000          21.6
6       TE   LV         Darren Waller  $7000          38.5
7     FLEX   GB         Davante Adams  $9500          29.1
8      DEF   NE  New England Patriots  $3700            31

In [ ]:
#12/5/2020
#Ran on first try